body{
	padding: 0;
    margin: 0;
}

.navbar img
{
  padding-right: 13px;
  padding-left: 8px;
}

ul.navbar
{
	list-style-type: none;
  	margin: 0px;
  	padding: 0px;
  	overflow: hidden;
  	background-color: rgb(226, 40, 40);
}

li.navbar
{
	float: left;
}

li a.navbar {
	display:flex;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }

  li a.navbar:hover:not(.active)
  {	
		background-color: rgb(243, 211, 211);	
		color:black;  
  }
  
  #active {
	background-color: white;
	color: black;
  }

  .search-container {
	float: right;
  }
  
  .navbar input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
  }
  
  .navbar .search-container button {
	float: right;
	padding: 6px;
	margin-top: 8px;
	margin-right: 16px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
  }
  
  .navbar .search-container button:hover {
	background: #ccc;
  }

  .footer
		{
			display: flex;
			width: 100%;
			height: 5%;
			justify-content: center;
			align-items: center;
			background-color:rgb(226, 40, 40);
			color: white;
			position: absolute;
		}


